*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fbe4d4 !important;
    padding: 10px 15px;
}

.servicepageWithLocation_header .navbar {
    background-color: #db2c36;
    color: #fff !important;
    border-radius: 0.5rem;
    padding: 0 !important;
}

.servicepageWithLocation_header .navbar .navbar-brand img {
    width: 80px;
    margin-top: 5px;
}

.servicepageWithLocation_header .navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 14px;
    font-weight: bolder;
}

.servicepageWithLocation_header .navbar-nav.mr-auto {
    margin: 0 auto;
}

.servicepageWithLocation_header .banner .box{
    padding: 70px 0px 10px 70px;
}

.servicepageWithLocation_header .banner .box .content_part{
    margin-bottom: 30px;
}

.servicepageWithLocation_header .banner .box .content_part h1{
    font-weight: bolder;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.servicepageWithLocation_header .banner .box .content_part .first-p{
    font-size: 1rem;
}

.servicepageWithLocation_header .banner .box .content_part .second-p{
    font-weight: bolder;
    font-size: 1.2rem;
}

.servicepageWithLocation_header .banner .box .button_part{
    margin-bottom: 20px;
}

.servicepageWithLocation_header .banner .box .button_part .btn1{
    padding: 15px;
    background-color: #db2c36;
    color: #fff;
    font-weight: bolder;
    border-radius: 0.5rem;
    font-size: 12px;
    transition: 0.5s;
}

.servicepageWithLocation_header .banner .box .button_part .btn1:hover{
    background-color: #a01a20;
}

.servicepageWithLocation_header .banner .box .button_part .btn2{
    padding: 15px;
    background-color: #ffffff;
    color: #000;
    font-weight: bolder;
    border-radius: 0.5rem;
    font-size: 12px;
    transition: 0.5s;
}

.servicepageWithLocation_header .banner .box .button_part .btn2:hover{
    background-color: #fffbfb;
}

.servicepageWithLocation_header .banner .box .link_part{
    text-align: end;
}

.first_section{
    background-color: #fff;
    padding: 20px 70px;
}

.first_section .row h2{
    margin-right: 40px;
    font-weight: bolder;
    font-size: 2.4rem;
}

.first_section .row .first_p{
    font-size: 1.2rem;
    line-height: 2;
    margin-bottom: 30px;
}

.first_section .row .second_p{
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 2;
}

.first_section .row .second_p .first_span{
    background-color: #ed7200;
    padding: 5px;
    border-radius: 0.5rem;
    color: #fff;
}

.first_section .row .second_p .second_span{
    background-color: #00b050;
    padding: 5px;
    border-radius: 0.5rem;
    color: #fff;
}

.first_section .row .second_p .third_span{
    background-color: #7030a0;
    padding: 5px;
    border-radius: 0.5rem;
    color: #fff;
}

.specific_location{
    padding: 30px 70px 10px 70px;
}

.specific_location .box{
    padding: 0 60px;
}

.specific_location .box h1{
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
}

.specific_location .box img{
    margin: 5px 0;
}

.cloud_section{
    padding: 80px 70px 20px 70px;
}

.cloud_section .cloud_headline h1{
    display: inline-block;
    font-weight: bolder;
    font-size: 4.5rem;
    margin-right: 10px;
}

.cloud_section .cloud_headline span{
    font-weight: bolder;
    font-size: 1.2rem;
    position: relative;
    top: -20px;
}

.cloud_section .cloud_headline p{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 40px;
}

.cloud_section .box1{
    padding-right: 20px;
}

.cloud_section .box1 p{
    font-weight: bolder;
    line-height: 2;
    font-size: 1.2rem;
}

.cloud_section .box1 ul{
    list-style: none;
    padding: 0;
}

.cloud_section .box1 ul li img{
    width: 70px;
}

.cloud_section .box1 ul li:nth-child(2) img{
    width: 50px;
    margin-left: 12px;
}

.cloud_section .box1 ul li{
    font-weight: bolder;
    font-size: 1rem;
}

.cloud_section .box1 a{
    font-size: 1rem;
    padding: 12px;
    font-weight: bolder;
    background-color: #fff;
    color: #0085d9;
    border: 1px solid #0085d9;
    border-radius: 0.5rem;
}

.cloud_section .box1 a i{
    font-size: .8rem;
    margin-left: 20px;
}

.cloud_section .box2{
    background-color: #ed7200;
    border-radius: 0.5rem;
    padding: 50px 140px;
}

.cloud_section .box2 img{
    width: 110px;
    border-radius: 0.5rem;
}

.business_cycle_section{
    padding: 60px 70px 20px 70px;
}

.business_cycle_section h1{
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.business_cycle_section ul{
    list-style: none;
    padding: 0;
}

.business_cycle_section ul li img{
    width: 50px;
}

.business_cycle_section ul li{
    font-weight: bolder;
    font-size: 1rem;
}

.business_cycle2_section{
    padding: 50px 70px 30px 70px;
    background-color: #fff;
}

.business_cycle2_section h1{
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
}

.business_cycle2_section img{
    width: 350px;
}

.resource_section{
    padding: 50px 0;
}

.resource_section .resource_section_header{
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
}

.resource_section .row .box1{
    height: 160px;
    background-color: #e50411;
    border-radius: 0.5rem;
}

.resource_section .row .box2{
    height: 160px;
    background-color: #ffc000;
    border-radius: 0.5rem;
}

.resource_section .row .box3{
    height: 160px;
    background-color: #7030a0;
    border-radius: 0.5rem;
}

.resource_section .row .content .first-p{
    margin: 10px 0;
}

.resource_section .row .content .second-p{
    margin: 0;
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 1.8;
    border-bottom: 6px solid #000;
    padding-bottom: 15px;
}

.resource_section .row .content .third-p{
    margin: 10px 0;
    font-weight: bolder;
    font-size: 0.9rem;
    line-height: 1.8;
}

.resource_section #seeMoreBtnForResource{
    padding: 12px 50px;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid #000;
    font-weight: bolder;
    color: #000;
}

.related_services_section{
    padding: 50px 70px;
    background-color: #fff;
}

.related_services_section h1{
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
}

.related_services_section .related_services {
    margin-left: 10px;
}

.related_services_section .related_services-heading {
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 10px 0 10px 14px;
    border-left: 4px solid #ed7200;
}

.related_services_section .related_services-text {
    padding-left: 20px;
    margin-bottom: 30px;
}

.related_services_section .related_services label {
    display: block;
    position: relative;
    cursor: pointer;
}

.related_services_section .related_services-toggle {
    display: none;
}

.marketing_section{
    padding-bottom: 80px;
}

.marketing_section .row .box1{
    height: 280px;
    background-color: #ffff00;
    color: #000;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing_section .row .box1 .content{
    width: 500px;
    text-align: center;
}

.marketing_section .row .box1 .content h1{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

.marketing_section .row .box1 .content p{
    font-weight: bolder;
}

.marketing_section .row .box2{
    background-color: #00b050;
    border-radius: 0.5rem;
    padding: 20px;
}

.marketing_section .row .box2 .number{
    color: #00b050;
    background-color: #000;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing_section .row .box3{
    background-color: #e50411;
    border-radius: 0.5rem;
    padding: 20px;
}

.marketing_section .row .box3 .number{
    color: #e50411;
    background-color: #000;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing_section .row .box4{
    background-color: #0085d9;
    border-radius: 0.5rem;
    padding: 20px;
}

.marketing_section .row .box4 .number{
    color: #0085d9;
    background-color: #000;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing_section .row .box5{
    background-color: #ed7200;
    border-radius: 0.5rem;
    padding: 20px;
}

.marketing_section .row .box5 .number{
    color: #ed7200;
    background-color: #000;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing_section .row .box2 .image,
.marketing_section .row .box3 .image,
.marketing_section .row .box4 .image,
.marketing_section .row .box5 .image{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.marketing_section .row .box2 .image img,
.marketing_section .row .box3 .image img,
.marketing_section .row .box4 .image img,
.marketing_section .row .box5 .image img{
    width: 130px;
}

.marketing_section .row .box2 .text h4,
.marketing_section .row .box3 .text h4,
.marketing_section .row .box4 .text h4,
.marketing_section .row .box5 .text h4{
    font-size: 1.6rem;
    font-weight: bolder;
    color: #000;
    margin: 0;
}

.marketing_section .row .box2 .text p,
.marketing_section .row .box3 .text p,
.marketing_section .row .box4 .text p,
.marketing_section .row .box5 .text p{
    font-size: .8rem;
    font-weight: bolder;
    color: #000;
    margin: 0;
}

.contact_section{
    padding-bottom: 50px;
}

.contact_section .contact_box{
    background-color: #171616;
    color: #fff;
    border-radius: 0.5rem;
    padding: 60px 0;
}

.contact_section .contact_box .contact_header{
    width: 700px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.contact_section .contact_box .row .text{
    width: 200px;
    margin: 0 auto 15px auto;
}

.contact_section .contact_box .row .text p{
    font-weight: bolder;
    font-size: .9rem;
}

.contact_section .contact_box .row a{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.contact_section .contact_box .row .box1{
    border-right: 1px solid #fff;
    text-align: center;
}

.contact_section .contact_box .row .box2{
    border-right: 1px solid #fff;
    text-align: center;
}

.contact_section .contact_box .row .box3{
    text-align: center;
}

footer .row .box1{
    padding: 30px 20px;
    background-color: #7030a0;
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
}

footer .row .box2{
    padding: 30px 20px;
    background-color: #de5b9e;
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
}

footer .row .box3{
    padding: 30px 20px;
    background-color: #0007b0;
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
}

footer .row .box1 h1,
footer .row .box2 h1,
footer .row .box3 h1{
    font-size: 1.6rem;
    margin: 0;
}

footer .row .box1 p,
footer .row .box2 p,
footer .row .box3 p{
    font-size: .8rem;
    margin: 0;
}

footer .row .box1 .arrow-btn,
footer .row .box2 .arrow-btn,
footer .row .box3 .arrow-btn{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0 auto;
    cursor: pointer;
}

footer .row .box1 .arrow-btn i{
    color: #7030a0;
}

footer .row .box2 .arrow-btn i{
    color: #de5b9e;
}

footer .row .box3 .arrow-btn i{
    color: #0007b0;
}

footer .row .box4,
footer .row .box5,
footer .row .box6,
footer .row .box7{
    padding: 10px;
    background-color: #d8d8d8;
    border-radius: 0.5rem;
    color: #000;
    font-weight: bolder;
    text-align: center;
}

footer .row .box4,
footer .row .box5,
footer .row .box6{
    cursor: pointer;
}

footer .row .box7{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .row .box7 p{
    margin: 0;
}

footer .row .box7 p:nth-child(2){
    font-size: .8rem;
}


/*Responsive*/
@media (max-width:1300px){
    
}

@media (max-width:1230px){
    
}

@media screen and (max-width: 1070px){
    footer .row .box7{
        display: block;
    }
}

@media screen and (max-width: 991px){
    .contact_section .contact_box .contact_header{
        width: 500px;
    }

    .contact_section .contact_box .contact_header h1{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 767px){
    .servicepageWithLocation_header .banner .box{
        padding: 30px 10px 10px 40px;
    }

    .first_section .row h2{
        margin-right: 0px;
    }

    .contact_section .contact_box .row .box1{
        border-right: none;
    }

    .contact_section .contact_box .contact_header{
        width: 400px;
    }

    .contact_section .contact_box .contact_header h1{
        font-size: 1.6rem;
    }
    
    .contact_section .contact_box .row .box2{
        border-right: none;
    }

    .related_services_section .related_services {
        width: 90vw;
    }
}

@media screen and (max-width: 610px){
    .servicepageWithLocation_header .banner .box .content_part h1{
        font-size: 2.8rem;
    }

    .first_section{
        padding: 20px 40px;
    }

    .cloud_section{
        padding: 50px 30px 20px 30px;
    }
    
    .cloud_section .cloud_headline h1{
        display: inline-block;
        font-weight: bolder;
        font-size: 4.5rem;
        margin-right: 10px;
    }

    .cloud_section .box1{
        text-align: center;
    }

    .cloud_section .box1 ul li{
        text-align: left !important;
    }

    .contact_section .contact_box .contact_header{
        width: 250px;
    }

    .contact_section .contact_box .contact_header h1{
        font-size: 1.2rem;
    }

    footer .row .box4 span,
    footer .row .box5 span,
    footer .row .box6 span{
        font-size: .7rem;
    }
}

@media screen and (max-width: 450px){
    .marketing_section .row .box1 .content{
        width: 300px;
    }
    
    .marketing_section .row .box1 .content h1{
        font-size: 2rem;
    }
}